:root {
    /* coolors.co palette */
    --background: #323031;
    --foreground: #FDFFFC;
    --highlight: #7692FF;

    background-color: var(--background);
}

h1 {
    color: var(--pink);
}

.container {
}

.square {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin: 0;
}