:root {
    /* coolors.co palette */
    --background: #323031;
    --foreground: #FDFFFC;
    --highlight: #7692FF;

    background-color: var(--background);
}

h1 {
    color: var(--highlight);

    margin: 0 auto;
    text-align: center;
}

#toolbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#toolbar button {
    border-radius: 0;
    height: 40px;
    width: 100px;
    padding: 0 10px;
   
    color: var(--foreground);
    background-color: var(--background);
    border-color: var(--foreground);
    border: 1px solid;
}

.grid-container {
    margin: 0 auto;
}

.square {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 10px;
    width: 100%;
    gap: 10px;

    color: var(--foreground);
}