:root {
    --background: #012A36;
    --shadow: #7B7263;
    --mint: #BCD8C1;
    --pink: #FF729F;
    --lightbrown: #E7C8DD;
}

.container {
}

.square {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin: 0;
}